<% content_for :title, 'NEWJI | マイカタログ' %>
<% breadcrumb_add 'マイカタログ' %>

<% content_for :content_header do %>
 <div class="mt-4">
          <form action="my-catalog-search-result.html">
            <div class="input-group">
              <input class="form-control form-control-navbar form-control--ie" type="search" placeholder="〇〇、〇〇などで検索" aria-label="Search" id="newji-serch">
              <div class="input-group-append">
                <input class="sbtn5" type="submit" value="検索" />
              </div>
            </div>
          </form>
        </div>
        <div class="card my-5">
          <p class="breadcrumb-on-card">
            <a href="/buyers/catalogs">カテゴリー選択</a>&nbsp;<span class="textbr"><i class="fas fa-angle-right"></i>&nbsp;<a href="<%= get_sub_catalog_index_buyers_catalog_path(@catalog.id)%>"><%= @catalog.name %></a></span> 
            <span class="textbr"><i class="fas fa-angle-right"></i>&nbsp;<a href="<%= buyers_get_grandchild_catalog_index_path(@sub_catalog.id) %>"><%= @sub_catalog.name %></a></span>
          </p>
          <div class="card-body">
            <div class="w-90 w-100--tab">
              <div class="row mt-2 mt-md-5 mb-3">
                <div class="col-md-9 col-sm-7 col-12 h-100">
                  <h5 class="text-left my-catalog-head mt-2">
                    サブカテゴリーを選択
                  </h5>
                </div>
                <div class="col-md-3 col-5 align-items-end d-none d-sm-block h-100">
                  <button type="button" class="btn w-100 newji-btn--gray text-center btn-right-top" role="button" data-target="#modal-default" data-toggle="modal">サブカテゴリーを追加</button>
                </div>
              </div>
            </div>
            <div class="w-90 w-100--tab">
              <div class="row">
              <% if @grandchild_catalogs.present? %>
                <% @grandchild_catalogs.each do |grandchild_catalog| %>
                <div class="col-md-3 col-12 mb-1">
                  <a href="my-catalog3.html" class="card shadow-none border text-left category-item-content">
                    <h6 class="category-name"><%= grandchild_catalog.name %></h6>
                    <h6 class="category-name--code"><small>孫カテゴリー数：10</small></h6>
                  </a>
                </div>
                <% end %>
              <% end %>
              </div>
            </div>
            <div class="w-100 text-center d-block d-sm-none">
              <button type="button" class="btn w-30 newji-btn--gray w-60--sp w-90--sp--450" role="button" data-target="#modal-default" data-toggle="modal">サブカテゴリーを追加する</button>
            </div>
            
            <div class="row">
              <button type="submit" class="btn w-30 newji-btn--gray w-60--sp w-90--sp--450">サブカテゴリーを<span class="textbr">もっと表示</span></button>
            </div>
          
          <!-- /.login-card-body -->
          </div>
        </div>
        <% end %>

        <!-- モーダル -->
        <div class="modal fade" id="modal-default">
          <div class="modal-dialog modal-default">
            <div class="modal-content">
              <%= form_for @sub_catalog, url: buyers_create_grandchild_catalog_path(@sub_catalog), method: 'post' do |f| %>
                <input type="hidden" name="parent_catalog_id" value="<%= @sub_catalog.id %>"/>
                <input type="hidden" name="level_type" value="granchild_catalog"/>
                <div class="modal-header modal-header--ordering">
                  <h6 class="modal-title"></h6>
                  <button type="reset" class="close" data-dismiss="modal" role="button" data-target="#modal-default" data-toggle="modal">
                    <span class="align-middle" aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5 class="text-center pt-3">以下を入力してください</h5>
                  <div class="input-group input-group--modal mt-4 mb-4">
                    <label for="form-modal-subcategory">
                      <span>サブカテゴリー</span>
                    </label>
                    <%= f.text_field :name, id: "form-modal-subcategory", class: "form-control form-control--ie", placeholder: "例）サブカテゴリー名", required: "required" %>
                  </div>
                </div>
                <div class="modal-footer justify-content-between modal-footer--ordering">
                  <button type="reset" class="btn btn-default" role="button" data-target="#modal-default" data-toggle="modal">閉じる</button>
                  <button type="submit" class="btn newji-btn--pink">追加する</button>
                </div>
              <% end %>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>