<table id="example1" class="table table-bordered table-striped table--ordering table--claim">
	<thead>
		<tr>
			<th class="text-center">クレーム<span class="textbr">ナンバー</span></th>
			<th class="text-center">登録日</th>
			<th class="text-center">ロット<span class="textbr">ナンバー</span></th>
			<th class="text-center">不適合区分</th>
			<th class="text-center">クレーム<span class="textbr">内容</span></th>
			<th class="text-center">原因</th>
			<th class="text-center">対策</th>
			<th class="text-center">編集</th>
			<th class="text-center">削除</th>
		</tr>
	</thead>
	<tbody>
	<% claims&.each do |claim| %>
		<tr>
			<td class="text-center" title="クレームナンバー"><%= link_to claim_detail_buyers_claim_path(claim) do %><%= claim.id %><% end %></td>
			<td class="text-center" title="登録日"><%= link_to claim_detail_buyers_claim_path(claim) do %><%= claim&.created_at&.strftime("%d/%m/%Y") %><% end %></td>
			<td class="text-center" title="ロットナンバー"><%= link_to claim_detail_buyers_claim_path(claim) do %><%= claim&.lot_number %></td>
			<td class="text-center" title="不適合区分"><%= claim&.classify.reject(&:blank?).join(', ') if claim&.classify.present? %><% end %></td>
			<td class="text-center" title="クレーム内容を確認"><%= claim&.claim_content %></td>
			<td class="text-center" title="原因"><a href="claim-info.html" class="to-top"><%= Claims.reason_status.find_value(claim&.reason_status) %></a></td>
			<td class="text-center" title="対策"><a href="claim-info.html" class="to-top"><%= Claims.counter_plan_status.find_value(claim&.counter_plan_status) %></a></td>
			<td class="text-center" title="編集"><a href="claim-info.html" class="btn btn-primary"><i class="fa fa-edit"></a></td>
			<td class="text-center" title="削除"><a href="claim-info.html" class="btn btn-danger"><i class="fa fa-trash"></a></td>
		</tr>
	<% end %>
	</tbody>
	<tfoot>
		<tr>
			<th class="text-center">クレーム<span class="textbr">ナンバー</span></th>
			<th class="text-center">登録日</th>
			<th class="text-center">ロット<span class="textbr">ナンバー</span></th>
			<th class="text-center">不適合区分</th>
			<th class="text-center">クレーム<span class="textbr">内容</span></th>
			<th class="text-center">原因</th>
			<th class="text-center">対策</th>
			<th class="text-center">編集</th>
			<th class="text-center">削除</th>
		</tr>
	</tfoot>
</table>
