<%= content_for :head do %>
    <%= javascript_include_tag "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %>
    <%= javascript_include_tag "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %>
  <% end %>
  
  <% breadcrumb_add "クレーム" %>
  <!-- Default box -->
  <div class="card card-solid card--login--only-vertical">
    <div class="card-body">
      <div class="row">
        <div class="col-12 calim-info__header-parent">
          <div class="text-center mt-5 mt-md-4 mb-5 calim-info__header-item-name">
            <h4 class="login-head font-bold">商品コード：<%= @item_info&.SKU %></h4>
            <h6 class="login-head--small font-normal">名称：<%= @item_info&.name %></h6>
          </div>
          <div class="text-right calim-info__header-child">
            <h6 class="claim-info__right-info">登録日：<%= @current_claim&.created_at&.strftime("%Y")%>年<%= @current_claim&.created_at&.strftime("%m")%>月<%= @current_claim&.created_at&.strftime("%d")%>日</h6>
            <h6 class="claim-info__right-info">クレームナンバー：<%= @current_claim&.id %></h6>
            <h6 class="claim-info__right-info">ロットナンバー：<%= @current_claim&.lot_number %></h6>
          </div>
        </div>
      </div>
      <div class="row border-top pt-5">
        <div class="col-12 col-md-6">
					<div class="col-12">
						<img src="<%= @claims_images[0] if @claims_images.present?%>" alt="アイテム画像" class="product-image" >
          </div>
					<div class="col-12 product-image-thumbs">
					<% @claims_images&.each_with_index do |image, index| %>
            <div class="product-image-thumb active"><img src="<%= @claims_images[index] %>" alt="アイテム画像"></div>
						<% end %>
          </div>
          <!-- 画像が７個以上の時プラスボタンを表示 -->
          <div class="col-12 col-md-1 text-center mt-2">
            <%= link_to edit_buyers_claim_path(@current_claim) do %><i class="fas fa-plus"></i><% end %>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-5 mt-md-0">
          <div class="d-flex">
            <h5 class="info-head font-bold">カテゴリー：</h5>
            <h5 class="info-head text-normal"><%= @catalog&.name %></h5>
          </div>
          <h5 class="info-head font-bold mt-3">クレーム内容：</h5>
          <div class="info-description claim-description">
            <p>
						<%= @current_claim&.claim_content %>
            </p>
          </div>
          <div class="dashed my-4">
  
          </div>
          <h5 class="info-head font-bold">原因：</h5>
          <div class="info-description claim-description">
            <p>
						<%= @current_claim&.reason_status %>
            </p>
            <br />
          </div>
          <h5 class="info-head font-bold mt-3">今後の対策：</h5>
          <div class="info-description claim-description">
            <p>
              まだ回答されていません。
            </p>
          </div>
        </div>
  
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  <div class="w-90 text-center mt-5 margin-bottom30">
    <%= link_to "クレーム一覧に戻る", table_buyers_claims_path, class: "to-top" %>
  </div>
  
  <script>
    $(document).ready(function() {
      $('.content').find('.container-fluid').removeClass('container-fluid')
    });
  </script>
  
