<%= stylesheets 'plugins/dropzone-5.7.0/dist/dropzone' %>
<% content_for :title, 'NEWJI | クレーム(新規登録)' %>
<% breadcrumb_add 'クレーム', buyers_claims_path %>
<% breadcrumb_add '不適合'%>

<% content_for :content_header do %>
<div class="card card--login">
  <div class="card-body">
    <div class="text-center">
      <h4 class="login-head text-center font-bold">商品コード：00000</h4>
      <h6 class="login-head--small font-normal">名称：マックフルーリー</h6>
    </div>
    <p class="login-head text-center mt-5">クレーム/不適合内容を<span class="textbr">登録してください</span></p>
    <!-- /.login-card-body -->
    <%=form_for :claims, url: '/claims/' + @claims.id.to_s, method: :patch %>
    <div class="input-group input-group--short input-group--has-uploader mt-5 mb-1">
      <label for="form-nolabel-claim-category">
        <span>不適合区分</span>
      </label>
      <select class="form-control form-control--ie form-control--select2" id="form-nolabel-claim-category" name="claims[classify]" required>
        <option></option>
        <optgroup label="Fruit">
          <option value="apple" selected>Apple</option>
          <option value="banana">Banana</option>
          <option value="cherry">Cherry</option>
          <option value="grape">Grape</option>
          <option value="lemon">Lemon</option>
        </optgroup>
        <optgroup label="Vegetable">
          <option value="beans">Beans</option>
          <option value="carrots">Carrots</option>
          <option value="lettuce">Lettuce</option>
          <option value="radish">Radish</option>
          <option value="tomato">Tomato</option>
        </optgroup>
      </select>
    </div>
    <div class="input-group input-group--short input-group--has-uploader mt-5 mb-4">
      <label for="form-nolabel-claim-detail">
        <span>クレーム内容</span>
      </label>
      <textarea id="form-nolabel-claim-detail" type="text" class="form-control form-control--textarea form-control--ie" placeholder="例）テキストテキストテキストテキストテキストテキストテキストテキストテキスト" name="claims[claim_content]" required></textarea>
    </div>
    <div class="input-group input-group--short input-group--has-uploader mt-5 mb-1">
      <label for="form-nolabel-claim-lot-umber">
        <span>ロットナンバー</span>
      </label>
      <input id="form-nolabel-claim-lot-umber" type="text" class="form-control form-control--ie" name="claims[lot_number]" placeholder="例）3">
    </div>
    <div class="input-group input-group--short input-group--has-uploader">
      <div class="input-group__add">
        <i class="fas fa-plus input-plus"></i>
        <a href="#" class="input-add">ロットナンバーを追加</a>
      </div>
      <input id="form-nolabel-claim-lot-umber" type="text" class="form-control form-control--ie mt-3 d-none" name="claim-rot-number" placeholder="例）3">
    </div>
    <div class="file-uploader--with-input w-80--sp w-100--sp--450 mt-5 mt-md-4 mb-4">
      <label class="w-100 file-label-wrap file-label-wrap--left">
        <span class="file-label file-label--left">クレーム画像</span>
      </label>
      <div action="/file-upload" class="dropzone">
        <!--dropzone.jsの443行目に記述-->
      </div>
    </div>

    <div class="row">
      <button type="submit" class="btn w-30 newji-btn--pink mt-4 w-60--sp">送信</button>
    </div>
    <% end %>
  </div>
</div>
<!-- /.login-box -->

<div class="w-90 text-center margin-bottom30">
  <%= link_to '商品コード入力に戻る', buyers_claims_path, class: "to-top" %>
</div>

<%= content_for :content_optional_scripts do %>
<!--dropzone.js-->
<%= javascript_include_tag 'plugins/dropzone-5.7.0/dist/dropzone.js' %>
<!--dropzone IEのための関数読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.7/polyfill.min.js"></script>
<% end%>

<script>
  $(document).ready(function() {
    $('.form-control--select2').select2({
      placeholder: '選択してください。',
      allowClear: true,
      // このオプションは、複数選択モードを有効にします。
      multiple: true,
      //追加を可能にします
      tags: true,
    });
  });
</script>