<%= render 'form', url: claim_update_buyers_claim_path, method: 'post' %>

<script type="text/javascript">
  Dropzone.autoDiscover = false;
  let id = $('#claims_id').val();
  let formData = new FormData();
  let url = '/buyers/claims/' + id + '/update'

  $('.dropzone').each(function(){
    $(this).dropzone({
      url: url,
      dictDefaultMessage: "<p>ここにファイルを<br>ドラッグアンドドロップ</p><p>または</p><label for='file_upload'>PCから<span class='textbr'>アップロード</span></label>",
      uploadMultiple: true,
      addRemoveLinks: true,
      autoProcessQueue: false,
      parallelUploads: 100,
      maxFiles: 100,
      acceptedFiles: ".jpeg,.jpg,.png,.gif",
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      init: function() {
        var myDropzone = this;
        if (myDropzone.files.length <= 0 && myDropzone.element.id == 'myDropzone0') {
          $("#btnSubmit").attr('disabled', 'disabled');
        }

        this.on("addedfile", function(file) {
          formData.append("claim[claims_image][" + this.files.length + "]", file);
          // Prevent upload duplicate files
          if (this.files.length) {
            var i, len;
            for (i = 0, len = this.files.length; i < len - 1; i++) {
              if (this.files[i].name === file.name && this.files[i].size === file.size) {
                alert("このファイル" + file.name + "が既に存在しています。");
                this.removeFile(file);
              }
            }
          }
        });
        this.on("removedfile", function(file) {
          var _ref,
              url = "/buyers/claims/" + id + "/remove_file";

          var index_of_claims_image = file.index

          // Prevent action when uploading
          prevent_action_when_uploading();

          $.ajax({
            url: url,
            type: "DELETE",
            data: {
              index_of_claims_image: index_of_claims_image,
            },
            headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            success: function(data) {
              location.reload();
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log('AJAX call failed.');
              console.log(textStatus + ': ' + errorThrown);
            },
            complete: function() {
              console.log('AJAX call completed');
            }
          });
        });
        <% @claim.claims_image.each_with_index do |image, index| %>
          var mockFile = {
            name: "<%= image.file.filename %>",
            size: <%= image.size %>,
            index: <%= index %>,
          }
          myDropzone.emit("addedfile", mockFile);
          myDropzone.createThumbnailFromUrl(mockFile, "<%= image.url %>");
          myDropzone.emit("complete", mockFile);
          myDropzone.files.push(mockFile);
        <% end %>
      }
    });
  });

  $("#btnSubmit").on("click", function(e) {
    e.preventDefault();
    e.stopPropagation();

    let item_request_id = $('#item_request_id').val();
    let claim_classify = $('#form-nolabel-claim-category').val();
    let claim_content = $('#form-nolabel-claim-detail').val();
    let claim_lot_number = $('#form-nolabel-claim-lot-number').val();

    formData.append("item_request_id", item_request_id);
    formData.append("claim[item_request_id]", item_request_id);
    formData.append("claim[claim_content]", claim_content);
    formData.append("claim[lot_number]", claim_lot_number);
    $.each(claim_classify, function( index, value ) {
      formData.append("claim[classify][]", value);
    });

    // Prevent action when uploading
    prevent_action_when_uploading();

    $.ajax({
      url: url,
      type: "POST",
      data:  formData,
      dataType: 'json',
      contentType: false,
      processData: false,
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      success: function(data) {
        window.location.href = '/buyers/claims/' + data
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log('AJAX call failed.');
        console.log(textStatus + ': ' + errorThrown);
      },
      complete: function() {
        console.log('AJAX call completed');
      }
    });
  });

  function prevent_action_when_uploading() {
    $('.dropzone').prepend('<img id="ripple_loading" src="<%= asset_path('ripple_loading.svg') %>" />')
    $("#btnSubmit").attr('disabled', 'disabled');
    $(".dz-remove").addClass('d-none');
  }
</script>
