<% content_for :title, 'NEWJI | マイカタログ' %>
<% breadcrumb_add 'マイカタログ' %>
<% content_for :content_header do %>
<div class="card my-5">
  <div class="card-body">
    <h5 class="text-left my-catalog-head mt-3 mt-md-5 mb-3">
      アイテムを選択
    </h5>

    <div class="row">
      <% @item_requests.each do |item_request| %>
      <div hidden="true"><%= @catalog = item_request.catalog %></div>
      <div hidden="true"><%= image_src= item_request.item_image.file_images.map { |image| image.url }.first %></div>
        <div class="col-md-3 col-sm-6 col-12 mb-1">
          <%= link_to buyers_catalog_catalog_item_path(@catalog, item_request),  class: "card shadow-none border text-center category-item-content" do %>
            <%= image_tag(image_src, class: "bd-placeholder-img card-img-top object-fit-cover", width: "100%", height: "200", alt: "アイテム画像") %>
            <h6 class='item_request_in_catalog_id' id="item_request_in_catalog_id<%= @catalog.id %>" hidden="true"></h6>
            <h6 class='detail_item_request' id="detail_item_request<%= item_request.id %>" hidden="true"></h6>
            <h6 class="category-content__name"><%= item_request&.item_info&.name %></h6>
            <h6 class="category-content__name--code"><small>商品コード：<%= item_request&.item_info&.SKU %></small></h6>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%end%>