<%= stylesheets 'plugins/dropzone-5.7.0/dist/dropzone', 'buyer/item_image' %>
<% content_for :title, 'NEWJI | ③画像' %>
<% breadcrumb_add 'アイテム登録'%>

<div class="container-fluid">
  <div class="card card--login">
    <div class="card-body">
      <p class="login-head text-center">アイテムの画像を<span class="textbr">登録してください</span><span class="textbr">（複数可）</span></p>
      <%= form_for @item_image, url: url, method: method do |f| %>
        <div class="mb-3" data-item-image="<%= f.object.item_request_id %>">
          <div class="w-70 text-center w-100--sp mt-5">
            <label class="w-100 file-label-wrap">
              <span class="required-txt file-label">必須</span>
              <span class="file-label-detail">アイテム画像</span>
            </label>
            <div class="dropzone" id="itemImageDropzone">
              <div class="fallback">
                <%= f.file_field(:file_images, multiple: true) %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn w-30 newji-btn--blue mt-4 w-60--sp" id="btnSubmit">登録</button>
        </div>
      <% end %>
    <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
  <div class="w-90 text-center margin-bottom30">
    <%= link_to 'アイテム登録に戻る', progress_buyers_item_request_path(@item_request), class: 'to-top' %>
  </div>
</div><!-- /.container-fluid -->


<%= content_for :content_optional_scripts do %>
  <%= javascript_include_tag 'js/pages/dashboard3' %>
<% end %>
