<%= stylesheets 'buyer/input_items_image' %>

<%= form_for @item_image, url: buyers_item_image_path(@item_image), method: 'patch' do |f| %>
  <%= hidden_field_tag :item_request_id, params[:item_request_id] %>
  <div class="container-user">
    <div class="contents">
      <div class="container-fluid">
        <div class="mobile-process-title">
          画像
        </div>
        <div class="process-head">
          <%= render 'buyers/shared/process_bar' %>
        </div>
        <div class="main">
          <div class="content-table-title">
            <%= I18n.t('messages.please_register_the_image_of_the_item') %>
          </div>
          <div class="content-table">
            <div class="description-zone">
              <div class="description"></div>
            </div>
            <div class="images">
              <div class="container">
                <%= f.fields_for :image_categories do |fc| %>
                  <%= fc.hidden_field :name %>
                  <%= fc.hidden_field :id %>
                  <% if fc.index == 0 %>
                    <div class="col-md-12 image-input-head">
                      <div class="image-require-label">
                        <label>必須</label>
                      </div>
                      <div class="image-title-label">
                        <label>
                          <%= I18n.t('messages.please_upload_an_image_of_the_item') %>
                        </label>
                      </div>
                    </div>
                  <% else %>
                    <div class="col-md-12 design-input-head">
                      <div class="design-title-label">
                        <label>
                          <%= I18n.t('messages.please_upload_the_design_picture_of_the_item') %>
                        </label>
                      </div>
                    </div>
                  <% end %>

                  <div class="col-md-12 image-input-content">
                    <div class="dropzone" id="myDropzone<%= fc.index %>">
                      <div class="fallback">
                        <%= fc.file_field(:file_link, multiple: true) %>
                      </div>
                    </div>

                    <% if fc.index == 0 %>
                      <% if @item_image.image_categories[0].file_image.file_link.blank? %>
                        <div class="dropzone-no-file-upload text-danger mt-2" id="dropzone_no_file_upload<%= fc.index %>">
                          <%= I18n.t('messages.file_has_not_been_uploaded') %>
                        </div>
                      <% end %>
                    <% end %>

                    <div class="dropzone-file-uploaded text-success mt-2" id="dropzone_file_uploaded<%= fc.index %>">
                      <%= I18n.t('messages.file_uploaded') %>
                    </div>

                    <div class="check-unaccepted-file text-danger mt-2" id="check_unaccepted_file<%= fc.index %>">
                      <%= I18n.t('messages.upload_file_format_is_not_incompatible') %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="continue-btn">
          <button type="submit" id="btnSubmit">続行</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  Dropzone.autoDiscover = false;

  $('.dropzone').each(function(){ 
    var id = $(this).attr('id').replace('myDropzone', '')
    var item_request_id = $('#item_request_id').val();

    switch (id) {
      case '0':
        var image_category_id = <%= @item_image.image_categories[0].id %>
        break;
      default:
        var image_category_id = <%= @item_image.image_categories[1].id %>
    }
    var post_url = "/buyers/item_images/" + <%= @item_image.id %> + "/image_categories/" + image_category_id + "/file_images";
    
    $(this).dropzone({
      url: post_url,
      dictDefaultMessage: "PCからアップロード",
      params: {
        "image_category_id": image_category_id
      },
      paramName: "[file_image][file_link]",
      uploadMultiple: true,
      addRemoveLinks: true,
      autoProcessQueue: false,
      parallelUploads: 100,
      maxFiles: 100,
      acceptedFiles: ".jpeg,.jpg,.png,.gif",
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      init: function() {
        var myDropzone = this;
        check_dropzone_length();

        $(".continue-btn").on("click", function(e) {
          if (myDropzone.getQueuedFiles().length > 0) {
            e.preventDefault();
            e.stopPropagation();
            myDropzone.processQueue();
            return;
          }
        });
        this.on("addedfile", function(file) {
          dropzone_uploaded_file(id);
          check_dropzone_length();
        });
        this.on("removedfile", function(file) {
          if (myDropzone.files.length <= 0) {
            dropzone_no_file_upload(id);
            check_dropzone_length();
          }

          var _ref,
              image_index = file.index,
              item_image_id = file.item_image_id,
              image_category_id = file.image_category_id,
              url = "/buyers/item_images/" + item_image_id + "/image_categories/" + image_category_id + "/file_images/" + image_index;
          
          $.ajax({
            type: 'DELETE',
            url: url,
            headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            success: function (data) {
              $("#exampleModalCenter" + id).fadeOut();
              window.location.href = "/buyers/item_images/edit?item_request_id=" + item_request_id
            }
          });
        });
        this.on("successmultiple", function(files, response) {
          window.location.href = "/buyers/item_quality?item_request_id=" + item_request_id
          // TODO:: redirect to edit next page
        });
        
        switch (id) {
          case '0':
            <% @item_image.image_categories[0].file_image.file_link.each_with_index do |image, index| %>
              var mockFile = {
                name: "<%= image.file.filename %>",
                size: <%= image.size %>,
                index: <%= index %>,
                item_image_id: <%= @item_image.id %>,
                image_category_id: <%= image.model.image_category_id %>,
              }
              myDropzone.emit("addedfile", mockFile);
              myDropzone.createThumbnailFromUrl(mockFile, "<%= image.url %>");
              myDropzone.emit("complete", mockFile);
              myDropzone.files.push(mockFile);
            <% end %>
            break;
          default:
            <% @item_image.image_categories[1].file_image.file_link.each_with_index do |image, index| %>
              var mockFile = {
                name: "<%= image.file.filename %>",
                size: <%= image.size %>,
                index: <%= index %>,
                item_image_id: <%= @item_image.id %>,
                image_category_id: <%= image.model.image_category_id %>,
              }
              myDropzone.emit("addedfile", mockFile);
              myDropzone.createThumbnailFromUrl(mockFile, "<%= image.url %>");
              myDropzone.emit("complete", mockFile);
              myDropzone.files.push(mockFile);
            <% end %>
        }
        // TODO:: Refactor code
      }
    });
  });

  function dropzone_no_file_upload(id) {
    $("#dropzone_no_file_upload" + id).css("display", "block");
    $("#dropzone_file_uploaded" + id).css("display", "none");
  }

  function dropzone_uploaded_file(id) {
    $("#dropzone_no_file_upload" + id).css("display", "none");
    $("#dropzone_file_uploaded" + id).css("display", "block");
  }

  function check_dropzone_length() {
    if($('#dropzone_no_file_upload0').is(':visible')) {
      $("#btnSubmit").attr('disabled', 'disabled');
    } else {
      $("#btnSubmit").removeAttr('disabled');
    }
  }
</script>
