<% content_for :title, 'NEWJI | サンプル/見本' %>
<% breadcrumb_add 'サンプル'%>
<% breadcrumb_add '見本'%>
<%= stylesheets 'css/newji' %>
<%= javascripts 'buyer/date_picker', 'buyer/sample' %>

<% content_for :content_header do %>
	<div class="row mb-2">
		<div class="col-sm-6">
			<ol class="breadcrumb breadcrumb--sample float-sm-left float-right">
				<li class="breadcrumb-item font-bold">2</li>
				<li class="breadcrumb-item">2&nbsp;サンプル内容入力</li>
			</ol>
		</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="card card--login">
		<div class="card-body login-card-body">
			<p class="login-head text-center mb-5">以下を入力してください</p>
			<%= form_for @sample, method: method, url: url, html: {id: 'sample_form_id', autocomplete: 'off'} do |f| %>
				<%= f.hidden_field :sample_type, class: "get-sample-type" %>
				<div class="input-group input-group--has-uploader input-group--has-uploader--has-label mt-5 mb-4">
					<label for="form-label-sample-title">
						<span class="required-txt">必須</span>
						<span>タイトル</span>
					</label>
					<%= f.text_field :title, id: "form-label-sample-title",class: "form-control form-control--ie", placeholder: "例）〇〇〇〇", required: 'required' %>
				</div>
				<div class="input-group input-group--has-checkbox mt-5 mb-4">
					<label for="form-label-address">
						<span class="required-txt">必須</span>
						<span>分類</span>
					</label>
					<div class="w-100 flex flex-wrap">
						<!--type="checkbox"に変更しても同じデザイン-->
						<%= radio_button('sample', 'category', t("sample.product_category.new"), checked: @sample&.category=='new', id: "new_product", class: "choose" ) %>
						<label for="new_product" class="label label--with-input">新製品</label>
						<%= radio_button('sample', 'category', t("sample.product_category.existing"), checked: @sample&.category=='existing', id: "existing_product", class: "choose" )%>
						<label for="existing_product" class="label label--with-input">既存品</label>
					</div>
				</div>
				<div class="input-group input-group--has-uploader input-group--has-uploader--has-label mt-5 mb-4">
					<label for="form-label-sample-code">
						<span class="required-txt">必須</span>
						<span>コード</span>
					</label>
					<%= f.text_field :code, id:"form-label-sample-code", class:"form-control form-control--ie", placeholder: "例）GD2020N00", required: 'required' %>
				</div>
				<div class="input-group input-group--has-uploader input-group--has-uploader--has-label mt-5 mb-1">
					<label for="form-label-apattern">
						<span class="required-txt required-txt--any">任意</span>
						<span>パターン1</span>
					</label>
					<input id="form-label-pattern" type="text" class="form-control form-control--ie" placeholder="例）〇〇">
				</div>
				<div class="input-group input-group--has-uploader input-group--has-uploader--has-label">
					<div class="input-group__add">
						<i class="fas fa-plus input-plus"></i>
						<a href="#" class="input-add">パターンを追加</a>
					</div>
					<input id="form-nolabel-claim-lot-umber" type="text" class="form-control form-control--ie mt-3 d-none" placeholder="例）3" name="sample-pattern2">
				</div>
				<div class="input-group input-group--has-uploader input-group--has-uploader--has-label mt-5 mb-4">
					<label for="form-label-amount">
						<span class="required-txt">必須</span>
						<span>数量</span>
					</label>
					<%= f.number_field :quantity, id: "form-label-amount", class: "form-control form-control--ie form-control--firefox", placeholder: "半角数字でご入力ください。", value: @sample.quantity, required: 'required' %>
				</div>
				<div class="input-group input-group--has-uploader input-group--has-uploader--has-label mt-5 mb-4">
					<label for="form-label-nouki">
						<span class="required-txt required-txt--any">任意</span>
						<span>希望納期</span>
					</label>
					<%= f.text_field :delivery_time, class: "form-control form-control--ie form-control--readonly", id:"form-label-nouki", placeholder:"日付を選択してください。", readonly:"readonly" %>
				</div>
				<div class="input-group input-group--has-checkbox mt-5 mb-4">
					<label for="form-label-address">
						<span class="required-txt">必須</span>
						<span>形状</span>
					</label>
					<div class="w-100 flex flex-wrap">
						<!--type="checkbox"に変更しても同じデザイン-->
						<%= radio_button('sample', 'classify', t("sample.sample_shape.product"), checked: @sample&.classify=='product', id: "product", class: "choose") %>
						<label for="product" class="label label--with-input">製品</label>
						<%= radio_button('sample', 'classify', t("sample.sample_shape.plate"), checked: @sample&.classify=='plate', id: "plate", class: "choose") %>
						<label for="plate" class="label label--with-input">プレート</label>
					</div>
				</div>
				<div class="input-group input-group--has-checkbox mt-5 mb-4">
					<label for="form-label-address">
						<span class="required-txt">必須</span>
						<span>配送リクエスト</span>
					</label>
					<div class="w-100 flex flex-wrap">
						<!--type="checkbox"に変更しても同じデザイン-->
						<%= radio_button('sample', 'delivery_request', t("sample.delivery_request.courier"), checked: @sample&.delivery_request=='courier', id: "courier", class: "choose") %>
						<label for="courier" class="label label--with-input">クーリエ</label>
						<%= radio_button('sample', 'delivery_request', t("sample.delivery_request.sea_mail"), checked: @sample&.delivery_request=='sea_mail', id: "sea_mail", class: "choose") %>
						<label for="sea_mail" class="label label--with-input">船便</label>
						<%= radio_button('sample', 'delivery_request', t("sample.delivery_request.combine_shipping"), checked: @sample&.delivery_request=='combine_shipping', id: "combine_shipping", class: "choose") %>
						<label for="combine_shipping" class="label label--with-input">同梱</label>
					</div>
				</div>
				<div class="input-group input-group--has-checkbox mt-5 mb-4">
					<label for="form-label-address">
						<span class="required-txt">必須</span>
						<span>用途</span>
					</label>
					<div class="w-100 flex flex-wrap">
						<!--type="checkbox"に変更しても同じデザイン-->
						<%= radio_button('sample', 'function', t("sample.function.sample"), checked: @sample&.function=='sample', id: "sample", class: "choose") %>
						<label for="sample" class="label label--with-input">サンプル</label>
						<%= radio_button('sample', 'function', t("sample.function.standard"), checked: @sample&.function=='standard', id: "standard", class: "choose") %>
						<label for="standard" class="label label--with-input">標準見本</label>
						<%= radio_button('sample', 'function', t("sample.function.limit"), checked: @sample&.function=='limit', id: "limit", class: "choose") %>
						<label for="limit" class="label label--with-input">限度見本</label>
					</div>
				</div>
				<div class="row">
					<button type="submit" class="btn w-30 newji-btn--blue w-60--sp mt-5">新規作成</button>
				</div>
			<% end %>
		<!-- /.login-card-body -->
		</div>
	</div>
	<!-- /.card -->
	<div class="w-100 text-center mt-5 margin-bottom30">
		<a href="<%=new_buyers_sample_path%>" class="to-top">前に戻る</a>
	</div>
<% end %>
