<% content_for :title, 'NEWJI | アイテム登録' %>
<% breadcrumb_add 'アイテム登録'%>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body card-body--ordering">
        <h4 class="login-head text-center mt-5">登録再開するアイテムを<span class="textbr">選択してください。</span></h4>
        <% if @item_requests.present? %>
          <table id="example1" class="table table-bordered table-striped table--ordering table--item mt-5">
            <thead>
              <tr>
                <th>アイテム名</th>
                <th>商品コード</th>
                <th>登録状況</th>
                <th>完了項目数</th>
                <th>登録再開リンク</th>
                <th>削除</th>
              </tr>
            </thead>
            <tbody>
              <% @item_requests.each do |item_request| %>
                <tr>
                  <td title="アイテム名">
                    <%= item_request.item_info&.name %>
                  </td>
                  <td title="商品コード">
                    <%= item_request.item_info&.SKU %>
                  </td>
                  <td class="has-progress" title="登録状況">
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-primary" style="width: <%= fetch_item_request_progress(item_request.status.value) %>"></div>
                    </div>
                  </td>
                  <td title="完了項目数">
                    <%= item_request.status.value < 7 ? item_request.status.value : '6' %>/6
                  </td>
                  <td title="登録再開リンク">
                    <%= link_to '登録を再開する', progress_buyers_item_request_path(item_request), class: 'to-top' %>
                  </td>
                  <td title="削除">
                    <%= link_to '削除', buyers_item_request_path(item_request), class: 'to-top', method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th>アイテム名</th>
                <th>商品コード</th>
                <th>登録状況</th>
                <th>完了項目数</th>
                <th>登録再開リンク</th>
                <th>削除</th>
              </tr>
            </tfoot>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <!-- /.login-box -->
</div>
<!-- /.container-fluid -->
<div class="w-90 text-center mt-4 margin-bottom30">
  <%= link_to register_item_buyers_path, class: "to-top" do %>
    前に戻る
  <% end %>
</div>

<%= content_for :content_optional_scripts do %>
  <%= javascript_include_tag 'plugins/datatables/datatables.js' %>
  <%= javascript_include_tag 'plugins/datatables/jquery.dataTables.min.js' %>
  <%= javascript_include_tag 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %>
  <%= javascript_include_tag 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %>
  <%= javascript_include_tag 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %>
<% end %>
