<% content_for :head do %>
  <%= stylesheet_link_tag 'buyer/calendar' %>
<% end %>

<%= month_calendar do |date| %>
  <div class="text-center text-bold">
    <div class="<%= 'active-day' if date == @date %>"></div>&nbsp;
    <%= date == date.beginning_of_month ? date.strftime("%m月%d日") : date.strftime("%d") %>	
  </div>
  <div class="day_box">
    <% if @user_calendars[date].present? %>
      <% @user_calendars[date].each do |event|%>
        <div class="day_box-content-calendar">
          <%= link_to "#{event.url}" do %>
            <span><%= event.event_type %> : <%= event.title %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
	</div>
<% end %>
