<%= javascripts 'buyer/searchs' %>
<% content_for :title,'NEWJI | マイカタログ' %>
<% breadcrumb_add 'マイカタログ' %>
<%= javascripts 'buyer/catalog' %>

<% content_for :content_header do %>
<div class="mt-4">
  <%= search_form_for @q, url:buyers_searchs_path, html: { autocomplete: 'off' } do |f| %>
  <div class="input-group">
    <%= f.text_field :status_cont, class: "form-control form-control-navbar form-control--ie", placeholder: "〇〇、〇〇などで検索", id:"newji-serch" %><br>
    <div class="input-group-append">
      <%= f.submit '検索', class: "sbtn5" %>
    </div>
  </div>
  <% end %>
</div>
<div class="card my-5">
  <p class="breadcrumb-on-card">
    <a href="/buyers/catalogs">カテゴリー選択</a>&nbsp;<span class="textbr"><i class="fas fa-angle-right"></i>&nbsp;<%= @catalog.name %></span>
  </p>
  <div class="card-body">
    <div class="w-90 w-100--tab">
      <div class="row mt-2 mt-md-5 mb-3">
        <div class="col-md-9 col-sm-7 col-12 h-100">
          <h5 class="text-left my-catalog-head mt-2">
            サブカテゴリーを選択
          </h5>
        </div>
        <div class="col-md-3 col-5 align-items-end d-none d-sm-block h-100">
          <button type="button" class="btn w-100 newji-btn--gray text-center btn-right-top" role="button" data-target="#modal-default" data-toggle="modal">サブカテゴリーを追加</button>
        </div>
      </div>
    </div>
    <div class="w-90 w-100--tab">
        <div class="row">
        <% if @sub_catalogs.present? %>
          <% @sub_catalogs.each do |sub_catalog| %>
          <div class="col-md-3 col-12 mb-1 text-center style-border">
            <%= link_to buyers_catalog_sub_catalog_grandchild_catalogs_path(@catalog, sub_catalog),  class: "card shadow-none border text-left category-item-content" do %>
              <div class="d-flex align-items-center justify-content-between">
                  <%= content_tag :h6, sub_catalog.name, class: "category-name" %>
                  <i class="fas fa-ellipsis-v mr-2 font-color pass_data_to_modal" id="pass_data_to_modal_<%= sub_catalog.id %>" role="button" data-target="#modal-default2" data-toggle="modal" onclick="return false"></i>
              </div>
              <% if get_size_catalog(sub_catalog) > 0 %>
                <h6></h6>
                <%= content_tag :h6, class: "category-name--code" do %>
                  <%= content_tag :small, '孫カテゴリー数：' + get_size_catalog(sub_catalog).to_s %>
                <% end %>
              <% elsif get_size_item(sub_catalog) > 0 %>
                <h6></h6>
                <%= content_tag :h6, class: "category-name--code" do %>
                  <%= content_tag :small, 'アイテム数：' +  get_size_item(sub_catalog).to_s %>
                <% end %>
              <% else %>
                <h6></h6>
                <%= content_tag :h6, class: "category-name--code" do %>
                  <%= content_tag :small, '孫カテゴリー数：' + get_size_catalog(sub_catalog).to_s %>
                <% end %>
              <% end %>
            <% end %>
            <input type="hidden">
            <input type="hidden" id="catalog_id" value="<%= @catalog.id %>">
            <%= render partial: 'sub_catalog_choose_modal', locals: { sub_catalog: sub_catalog } %>
            <%= render 'buyers/shared/edit_modal', catalog: sub_catalog, url: buyers_catalog_path(@catalog), method: :patch, locals: { catalog: sub_catalog } %>
            <%= render 'buyers/shared/delete_modal', catalog: sub_catalog, url: buyers_catalog_path(@catalog), method: :delete, locals: { catalog: sub_catalog } %>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>
  <div class="w-100 text-center d-block d-sm-none">
    <button type="button" class="btn w-30 newji-btn--gray w-60--sp w-90--sp--450" role="button" data-target="#modal-default" data-toggle="modal">サブカテゴリーを追加する</button>
  </div>
  <div class="row d-none">
    <button type="submit" class="btn w-30 newji-btn--gray w-60--sp w-90--sp--450">サブカテゴリーを<span class="textbr">もっと表示</span></button>
  </div>
  <!-- /.login-card-body -->
</div>
</div>
<% end %>

<!-- モーダル -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-default">
    <div class="modal-content">
      <%= form_for :sub_catalog, url: buyers_catalog_sub_catalogs_path(@catalog), method: 'post' do |f| %>
      <%= f.hidden_field :parent_catalog_id, value: "#{@catalog.id}" %>
      <%= f.hidden_field :level_type, value: 'sub_catalog'  %>

      <div class="modal-header modal-header--ordering">
        <h6 class="modal-title"></h6>
        <button type="reset" class="close" data-dismiss="modal" role="button" data-target="#modal-default" data-toggle="modal">
          <span class="align-middle" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center pt-3">以下を入力してください</h5>
        <div class="input-group input-group--modal mt-4 mb-4">
          <label for="form-modal-subcategory">
            <span>サブカテゴリー</span>
          </label>
          <%= f.text_field :name, id: "form-modal-subcategory", class: "form-control form-control--ie", placeholder: "例）サブカテゴリー名", required: "required" %>
        </div>
      </div>
      <div class="modal-footer justify-content-between modal-footer--ordering">
        <button type="reset" class="btn btn-default" role="button" data-target="#modal-default" data-toggle="modal">閉じる</button>
        <button type="submit" class="btn newji-btn--pink">追加する</button>
      </div>
      <% end %>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
