<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>NEWJI | ホーム</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>

    <!-- Font Awesome Icons -->
    <%= stylesheet_link_tag 'plugins/fontawesome-free/css/all.min'%>
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <%= stylesheet_link_tag 'css/adminlte.min'%>
    <!--NEWJI独自のスタイル-->
    <%= stylesheet_link_tag 'css/newji'%>

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- fullCalendar -->
    <!--カレンダー
    <link href='core/main.css' rel='stylesheet' />
    <link href='daygrid/main.css' rel='stylesheet' />
    <script src='core/main.js'></script>
    <script src='daygrid/main.js'></script>
    <script src='core/locales/ja.js'></script>
    -->

    <%= yield :head %>
  </head>
  <!--
  BODY TAG OPTIONS:
  =================
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  |---------------------------------------------------------|
  |LAYOUT OPTIONS | sidebar-collapse                        |
  |               | sidebar-mini                            |
  |---------------------------------------------------------|
  -->

  <body class="hold-transition sidebar-mini">
    <% if current_user.present? %>
      <div class="wrapper">
        <!-- Navbar -->
        <%= render "layouts/navbar" %>

        <!-- Main Sidebar Container -->
        <%= render "layouts/sidebar" %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <%= render_breadcrumb %>
                </div><!-- /.col -->
              </div><!-- /.row -->
              <%= yield :content_header %>
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <div class="content">
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
        </div>

        <!-- カスタマイズ -->
        <aside class="control-sidebar control-sidebar-light">
          <div class="sidebar">
            <h5 class="mt-3 pb-3 border-bottom">カスタマイズ</h5>
            <!-- ここに色変更などのカスタマイズを追加 -->
            <div class="control-sidebar-main mt-3">
              <p><label><input type="checkbox" name="" value="1" class="">&nbsp;文字サイズを変更</label></p>
              <p>
                <label><input type="radio" name="color-radio" value="dark" class="">&nbsp;ダークモード</label><br>
                <label><input type="radio" name="color-radio" value="light" class="" checked>&nbsp;ライトモード</label>
              </p>
            </div>
          </div>
        </aside>

        <!-- カスタマイズ -->
        <aside class="control-sidebar control-sidebar-light">
          <div class="sidebar">
            <h5 class="mt-3 pb-3 border-bottom">カスタマイズ</h5>
            <!-- ここに色変更などのカスタマイズを追加 -->
            <div class="control-sidebar-main mt-3">
              <p><label><input type="checkbox" name="" value="1" class="">&nbsp;文字サイズを変更</label></p>
              <p>
                <label><input type="radio" name="color-radio" value="dark" class="">&nbsp;ダークモード</label><br>
                <label><input type="radio" name="color-radio" value="light" class="" checked>&nbsp;ライトモード</label>
              </p>
            </div>
          </div>
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <%= render "layouts/footer" %>
      </div>
      <!-- ./wrapper -->

      <!-- REQUIRED SCRIPTS -->

      <!-- jQuery -->
      <%= javascript_include_tag 'plugins/jquery/jquery.min.js' %>
      <!-- Bootstrap -->
      <%= javascript_include_tag 'plugins/bootstrap/js/bootstrap.bundle.min.js' %>
      <!-- AdminLTE -->
      <%= javascript_include_tag 'js/adminlte.js' %>
      <!-- AdminLTE for demo purposes -->
      <%= javascript_include_tag 'js/demo.js' %>

      <!-- OPTIONAL SCRIPTS -->
      <%= javascript_include_tag 'plugins/chart.js/Chart.min.js' %>
      <!--<script src="dist/js/demo.js"></script>-->
      <%= javascript_include_tag 'js/pages/dashboard3.js' %>
      <!--<script src="plugins/jquery/newji.js"></script>-->
    <% else %>
      <%= yield %>
    <% end %>
    <div id='flash_message'>
      <%= render 'layouts/flash_messages' %>
    </div>
  </body>
</html>
