<!DOCTYPE html>
<html>
  <head>
    <title>NEWJI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <% if current_user.present? %>
      <div class="wrapper-newji">
        <div class="sidebar" id="mysidebar">
          <%= render "layouts/left_menu" %>
        </div>
        <div class="full-content" id="full-content">
          <%= render 'layouts/header' %>
          <div class="containerss">
            <%= yield %>
          </div>
          <%= render 'layouts/footer' %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
