<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title><%= yield(:title).presence || Newji%></title>
    <%= csrf_meta_tags %>

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic'>

    <%= stylesheet_link_tag    'application_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'color', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :additional_css %>
    <%= javascript_include_tag 'application_admin', 'data-turbolinks-track': 'reload' %>
    <%= yield :additional_script %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div id="flash">
      <%= custom_bootstrap_flash %>
    </div>

    <div class="wrapper">
      <%= render 'layouts/header_admin' %>
      <%= render 'layouts/sidebar_admin' %>

      <div class="content-wrapper">
        <%= yield %>
      </div>

      <%= render 'layouts/footer_admin' %>
      <%= render 'layouts/control_sidebar' %>
    </div>
  </body>
</html>
