<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'plugins/fontawesome-free/css/all.min'%>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Theme style -->
    <%= stylesheet_link_tag 'css/adminlte.min'%>
    <!--NEWJI独自のスタイル-->
    <%= stylesheet_link_tag 'css/newji'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>

    <%= yield :head %>
  </head>

  <body class="hold-transition sidebar-mini">
    <% if current_user.present? %>
      <div class="wrapper">
        <!-- Navbar -->
        <%= render "layouts/navbar" %>

        <!-- Main Sidebar Container -->
        <%= render "layouts/sidebar" %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                  <%= render_breadcrumb %>
                </div>
              </div>
              <%= yield :content_header %>
            </div>
          </div>

          <!-- Main content -->
          <div class="content">
            <%= yield %>
          </div>
        </div>

        <!-- control-sidebar -->
        <aside class="control-sidebar control-sidebar-light">
          <div class="sidebar">
            <h5 class="mt-3 pb-3 border-bottom">カスタマイズ</h5>
            <!-- ここに色変更などのカスタマイズを追加 -->
            <div class="control-sidebar-main mt-3">
              <p><label><input type="checkbox" name="" value="1" class="">&nbsp;文字サイズを変更</label></p>
              <p>
                <label><input type="radio" name="color-radio" value="dark" class="">&nbsp;ダークモード</label><br>
                <label><input type="radio" name="color-radio" value="light" class="" checked>&nbsp;ライトモード</label>
              </p>
            </div>
          </div>
        </aside>

        <aside class="control-sidebar control-sidebar-light">
          <div class="sidebar">
            <h5 class="mt-3 pb-3 border-bottom">カスタマイズ</h5>
            <!-- ここに色変更などのカスタマイズを追加 -->
            <div class="control-sidebar-main mt-3">
              <p><label><input type="checkbox" name="" value="1" class="">&nbsp;文字サイズを変更</label></p>
              <p>
                <label><input type="radio" name="color-radio" value="dark" class="">&nbsp;ダークモード</label><br>
                <label><input type="radio" name="color-radio" value="light" class="" checked>&nbsp;ライトモード</label>
              </p>
            </div>
          </div>
        </aside>

        <!-- Main Footer -->
        <%= render "layouts/footer" %>
      </div>

      <!-- REQUIRED SCRIPTS -->
      <!-- AdminLTE -->
      <%= javascript_include_tag 'js/adminlte' %>
      <!-- AdminLTE for demo purposes -->
      <%= javascript_include_tag 'js/demo' %>

      <!-- OPTIONAL SCRIPTS -->
      <%= yield :content_optional_scripts %>
    <% else %>
      <%= yield %>
    <% end %>
    <div id='flash_message'>
      <%= render 'layouts/flash_messages' %>
    </div>
  </body>
</html>
